@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<script>
    function Download(name)
    {
        window.location.href = "?download=" + name;
    }
</script>

<div class="text-center">
    @foreach (ApplicationInfo appInfo in Model.applications)
    {
        <div class='applicationInfo' onclick="Download('@appInfo.name')">
            <img class='iconAppInfo' src='data:image/png;base64,@appInfo.image64'>
            <span>@appInfo.name</span>
        </div>
    }
</div>
