@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
        @foreach (ApplicationInfo appInfo in Model.lecturereg())
        {
            <div class='applicationInfo'>
                <img class='iconAppInfo' src='@appInfo.iconPath'>
                <span>@appInfo.name</span>
            </div>
        }
</div>
